[Desktop Entry]
Version=1.0
Name=Audible
Comment=Open Audible
Exec=google-chrome --app=https://www.audible.com/ --start-maximized
Terminal=false
Type=Application
Icon=google-calendar
Categories=Office;
